.Header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.Header > div {
  display: flex;
}

.Header .Header_center {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

.Header .Header_left {
  width: 25%;
  justify-content: start;
}

.Header .Header_right {
  width: 25%;
  justify-content: end;
}
