@font-face {
  font-family: 'NanumPenScript';
  src: url('/fonts/NanumPenScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
}

#root {
  background-color: white;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0px 20px;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
}

body * {
  font-family: 'NanumPenScript';
}
