.Header {
  display: flex;
  align-items: center;

  padding: 20px 0px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.Header > div {
  display: flex;
}

.Header .Header_center {
  width: 50%;
  font-size: 25;
  justify-content: center;
}

.Header .Header_left {
  justify-content: flex-start;
  width: 25%;
}

.Header .Header_right {
  width: 25%;
  justify-content: flex-end;
}
