.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px soild rgb(240, 240, 240);
}

/* checkbox 사이즈 */
.TodoItem input {
  width: 20px;
}

.TodoItem .content {
  flex: 1;
}

.TodoItem .date {
  font-size: 14px;
  color: gray;
}

.TodoItem button {
  cursor: pointer;
  color: gray;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
}
