.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.TodoItem .content {
  flex: 1;
}

.TodoItem .id {
  font-size: 14px;
  font-weight: 600;
}

.TodoItem .date {
  font-size: 14px;
  color: gray;
}

.TodoItem input {
  width: 20px;
}

.TodoItem button {
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: gray;
}
