.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.TodoItem input {
  width: 20px;
}

.TodoItem .content {
  flex: 1;
}

.TodoItem .date {
  font-size: 14px;
  color: gray;
}

.TodoItem > button {
  cursor: pointer;
  background-color: rgb(220, 220, 220);
  border: none;
  border-radius: 5px;
  color: gray;
  padding: 5px;
  font-size: 14px;
}
