.Header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
  margin-bottom: 10px;
}

.Header > div {
  display: flex;
}

.Header .header_center {
  width: 50%;
  font-size: 25px;
  justify-content: center;
  font-weight: bold;

  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  flex-direction: column;
}

.Header .header_left {
  width: 25%;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 5px;
}

.Header .header_right {
  width: 25%;
  justify-content: flex-end;
  border: 1px solid black;
  border-radius: 5px;
}
