.Button {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
}

.Button_POSITIVE {
  background-color: rgb(100, 201, 100);
  color: white;
}
.Button_NEGATIVE {
  background-color: rgb(253, 86, 95);
  color: white;
}
