.Header {
  display: flex;
  border-bottom: 1px solid rgb(236, 236, 236);
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.Header > div {
  display: flex;
}

.Header .header_center {
  border-radius: 5px;
  border: 1px solid black;
  width: 50%;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  height: 41px;
  align-items: center;
}

.Header .header_left {
  border-radius: 5px;
  border: 1px solid black;
  width: 25%;
  justify-content: flex-start;
}
.Header .header_right {
  border-radius: 5px;
  border: 1px solid black;
  width: 25%;
  justify-content: flex-end;
}
