.EmotionItem {
  background-color: rgb(236, 236, 236);
  text-align: center;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid black;
}

.EmotionItem .emotion_img {
  width: 50%;
  margin-bottom: 10px;
}

.EmotionItem .emotion_name {
  margin: 0px;
  font-weight: bold;
}

.EmotionItem_on_1 {
  background-color: rgb(100, 201, 100);
  color: white;
}
.EmotionItem_on_2 {
  background-color: rgb(157, 215, 114);
  color: white;
}
.EmotionItem_on_3 {
  background-color: rgb(253, 206, 23);
  color: white;
}
.EmotionItem_on_4 {
  background-color: rgb(253, 132, 70);
  color: white;
}
.EmotionItem_on_5 {
  background-color: rgb(253, 86, 95);
  color: white;
}
